.header-container {
    height:800px;
    position:relative;
    background-image: url('../../../images/corporate.jpg');
    background-size: cover;
}
.header-container::after {
    height:700px;
    content:' ';
    position: absolute;
    top: 0;
    width: 45%;
    left: 0;
    background-color: wheat;
    z-index: -50;
}